# Chris rules EVERYTHING (including paths listed below)
* @ChrisTitusTech

# So someone who knows how to do Windows Image Servicing needs to approve before Chris merges and BREAKS EVERYTHING!
/functions/microwin/ @Real-MullaC @CodingWonders
