# Libraries
System.Management.Automation.dll
Microsoft.PowerShell.ConsoleHost.dll

# Configuration folder
.vscode/
.idea/
.vs/

# OS Specific
desktop.ini
.DS_Store

# Executables and Configs
pester.ps1
Microsoft.UI.Xaml*
winutil.ps1

# winutil-bin
winutil.exe.config
binary/

# Hugo Files
docs/public/
docs/.hugo_build.lock
docs/resources/
