### VSCode ###

# Configuration folder
.vscode/

### Visual Studio ###

# Visual Studio user-specific files
.vs/

winutil.pdb

### Windows ###

# Folder config file
[Dd]esktop.ini

# Executables and Configs
winget.msixbundle
pester.ps1
*.psd*
ooshutup10.cfg
winutil.exe.config
Microsoft.UI.Xaml*
license1.xml

# Libraries
System.Management.Automation.dll
Microsoft.PowerShell.ConsoleHost.dll

# Compressed files
*.zip

### MacOS ###

# General
.DS_Store
microwin.log
True
