name: Close Inactive Issues

on:
  schedule:
    - cron: '0 0 * * *'  # Run daily
  workflow_dispatch:  # This line enables manual triggering

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write  # Ensure necessary permissions for issues
    steps:
    - name: Close inactive issues
      uses: actions/stale@v9.0.0
      with:
        exempt-issue-labels: "Keep Issue Open"
        days-before-issue-close: 14
        close-issue-message: "This issue was closed because it has been inactive for 14 days"
        debug-only: false # Make this field equal true if you want to test your configuration if it works or not
        repo-token: ${{ secrets.GITHUB_TOKEN }}
